[submodule "bundle/git-runtime"]
	path = bundle/git-runtime
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/indexed-search"]
	path = bundle/indexed-search
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch
[submodule "bundle/scons-syntax"]
	path = bundle/scons-syntax
	url = https://github.com/vim-scripts/scons.vim
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
