[submodule "bundle/git-runtime"]
	path = bundle/git-runtime
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/indexed-search"]
	path = bundle/indexed-search
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/markdown-runtime"]
	path = bundle/markdown-runtime
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/yazug/vim-taglist-plus.git
